<p>By itself, the parent module does nothing beyond creating and
dropping the database tables used by this project. You need to enable
at least one of the project's submodules to be able to use the
features provided by this project.</p>

<p>The forms to configure the <strong>Anonymous Publishing CL</strong>
and <strong>Anonymous publishing PET</strong> submodules are found by
navigating to: <span class="nav">Configuration » People</span>.
<strong>Anonymous Publishing LR</strong> and
<strong>Anonymous Publishing Views</strong> do not have
a configuration form.</p>

<p>A description of each sub-module and how to configure it is on the
following help pages.</p>
