<ol>
<li>Install as you would normally install a contributed Drupal module. See: <a href="https://drupal.org/documentation/install/modules-themes/modules-7" title="link to more info">Installing modules</a> for further information.</li>
<li>Enable the <strong>Anonymous Publishing</strong> module on the <em>Modules</em> list page. The database tables will be created automagically for you at this point.</li>
<li>Check the <em>Status report</em> to see if it necessary to run the database update script.</li>
<li>Enable the submodules providing the features you want to use.</li>
<li>Proceed to configure each of the submodules, as described in the configuraton section (next).</li>
</ol>

