<p>The <strong><a href="https://drupal.org/project/anonymous_publishing"
title="project page">Anonymous Publishing</a></strong> project
contains modules that increases your control over anonymous publishing
on a site.</p>

<p>Anonymous Publishing may lower the threshold for authorship and
entry to a site. It may also be a requirement for certain sites that
deal with sensitive issues that anonymous publishing is allowed.</p>
