<p>The <strong>Anonymous Publishing LR</strong> module is part of
the <strong><a href="https://drupal.org/project/anonymous_publishing"
title="project page">Anonymous Publishing</a></strong> project.</p>

<p>When this submodule is enabled, when a user that already has
published content using <strong>Anonymous publishing CL</strong>
registers registers on the site with the same email address as he or
she used when creating anonymous postings, he or her will see a tab
named “Claim anonymous posts” on the “my account” profile page (see
screenshot below). This tab will allow the user to “claim” the posts
they created as an anonymous publisher for his/her profile (i.e. if
“claimed”, these posts will be owned by their logged in profile).</p>

<div class="help-imgpos-center" style="max-width:563px">
<img class="help-img" alt="apclaim.png" title="Claim dialogue" src="&path&apclaim.png" width="563" />
<div class="help-img-caption" style="max-width:563px">Claim dialogue</div>
</div>

<p>There is no administrative interface to the
<strong>Anonymous publishing LR</strong> submodule. To make the tab
appear on the user's profile page. enable the submodule. To make the
tab disappear, disable the submodule.</p>

<p>Note that since this feature uses the email addresses to link the
old content to the new user, it is incompatible with the privacy
functions to purge email addresses available in the panel under the
“Privacy” tab.</p>
