<p>In Drupal, the administrator may grant the anonymous user the right to
create new content (so you don't need this module to allow anonymous
users to create content). However, allowing anonymous publishing may
have the side-effect of making the site wide open to spammers.  This
module may be used to mitigate that.  Also, it implements a privacy
enhancing technology (PET) that allows authenticated users publish
anonymously.</p>

<p>The major features of <strong>Anonymous Publishing</strong> are:</p>

<ol>
<li>Users may publish content without first registering an account at
   the site, provided they supply a vaild email address and click on
   an activation link sent them in a verification email (some call
   this the “craigslist model”). To use this feature enable the
   <strong>Anonymous Publishing CL</strong> submodule.</li>

<li>“Lazy” registration, where the user creates the content first and
   can then “claim” the content after registering on the site. If you
   enable this submodule, there will be a tab named “Claim anonymous
   posts” on the profile page of users with “unclaimed” content they
   created on the site before they registered. To use this feature
   enable the <strong>Anonymous Publishing LR</strong> submodule.</li>

<li>Authenticated users may publish content that appear to be published
   by Anonymous (i.e. they need to be authenticated and logged in to
   publish, but the content they tag as anonymous will never be
   publicly associated with their user name or other identity). To use
   this feature enable the <strong>Anonymous Publishing PET</strong> submodule.</li>

<li>The pseudo-fields “email” and “byline” will be exposed
   to <strong>Views</strong> if the <strong>Anonymous Publishing
   Views</strong> submodule is enabled.</li>
</ol>

<p>More specifically, it may:</p>


<ul>
<li>Let anonymous publishers self-activate;</li>
<li>retain self-activated email addresses for future use;</li>
<li>send email to administrators when anonymous content is created;</li>
<li>provide simple moderation of content published anonymously;</li>
<li>let the administrator block abusers based on email & IP address;</li>
<li>track spambots and let the administrator block them,</li>
<li>provide flood control;</li>
<li>purge records that links the identifier to specific content;</li>
<li>let the administrator customize the verification email;</li>
<li>allow authenticated users to publish as the anonymous user;</li>
<li>associate a persistent byline/alias with <em>all</em> content published anonymously;</li>
<li>the persistent byline/alias can be default, generated or set by the publisher;</li>
<li>the persistent byline/alias along with the email address used to activate, can be exposed to <strong>Views</strong>.</li>
</ul>

<p>Limitations:</p>

<ul>
<li>Anonymous publishing can only be enabled for nodes and
comments. It is not possible to enable anonymous publishing for other
content such as webform submissions or poll votes.</li>
</ul>
