<p>The <strong>Anonymous Publishing PET</strong> module is part of
the <strong><a href="https://drupal.org/project/anonymous_publishing"
title="project page">Anonymous Publishing</a></strong> project.</p>

<p>It lets authenticated users publish content that appear to be
published by Anonymous (i.e. they need to be authenticated and logged
in to publish, but the content they tag as anonymous will never be
publicly associated with their user name or other identity).</p>

<h2>Configuration</h2>

<p>To access the <strong>Anonymous Publishing PET</strong>
administration form, you need to be granted the right to administer
anonymous publishing.</p>

<p>After installing and activating the module navigate to:
<span class="nav">Configuration » People » Anonymous publishing
PET</span>.</p>

<p>There are three tabs:</p>

<ol>
<li><strong>Main settings</strong>: All the main options for this module.</li>
<li><strong>Real names</strong>: List real user names of content published as anomymous.</li>
<li><strong>Privacy</strong>: Privacy enhancing settings.</li>
</ol>

<h3>Main settings</h3>

<p>Under this tab, you check the content types where you want
authenticated users to be able to publish as the anonymous user
role. You may also enable this featire for comments.</p>

<p>The option “Allow authenticated users to publish as Anonymous” must
also be checked to have this feature available on the site.</p>

<h3>Real names</h3>

<p>This panels lists the real user names and subject lines of content
that is published as anonymous. It allows the administrator to
identify authenticated users that abuse the ability to post as
anonymous.</p>

<p>The rentention period of the user names listed here is controlled
by the settings under the privacy tab.</p>

<h3>Privacy</h3>

<p>While no email address or real user names are made available to
outsiders, the email address and real user name associated with
content is by default retained indefinitely, and can be extracted from
the database. If your site is used to publish sensitive material, you
may want to limit the period the record these records are
retained.</p>

<p>For a very sensitive site, you may want to set this to “Delete
ASAP”, but you may also opt to retain for a limited time (from an hour
up to 1 month) to give you some time to spot users abusing the
privilege to publish as the anonymous user. The purging is done by
cron, so you need to run cron at least as often as half the maximum
period set to be sure identifiers are purged within the time
limit.</p>

<p>The button “Purge now” bypasses cron and purges the identifiers
instantly.</p>
