<p>The <strong>Anonymous Publishing Views</strong> module is part of
the <strong><a href="https://drupal.org/project/anonymous_publishing"
title="project page">Anonymous Publishing</a></strong> project.</p>

<p>There is no administrative interface to the
<strong>Anonymous publishing Views</strong> submodule. To make the
pseudo-fields “email” and “byline” available to
<strong>Views</strong>, enable the submodule. To make them not
available, disable the submodule.</p>

<p>The use case for this submodule is to allow the site builder to
use <strong>Views</strong> to create guestbooks and similar pages
where anonymous publishers may post.</p>

<p>Note that since this submodule uses the email addresses to link the
content to the persistent byline, it is incompatible with the privacy
functions to purge email addresses available in the panel under the
“Privacy” tab.</p>

